<% include ../../partials/examplesHead %>

<h4>0. My First Example Project</h4>
<p>List the envelopes in html, then download the document when you click one</p>
<p>This is just a showcase to get familiar with the docusign api and how to use it.</p>
<p>I should probably know how to use it if I'm going to potentially write new endpoints in future</p>

<% include ../../partials/docBody %>

<form class="eg" action="" method="post" data-busy="form">
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-docu">Continue</button>
</form>
  
<% include ../../partials/examplesFoot %>
